.bg_Img_Of_Home {
    animation: MoveUpDown 10s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
}


.hide_One {
    animation: hideOne 10s ease-in-out infinite;
    opacity: 1;
}

@keyframes hideOne {


    from {
        background-color: tomato;
    }



    to {
        background-color: brown;
    }
}